body {
    font-family: Arial, sans-serif;
    background-color: #f57e20;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    margin: 40px auto; /* Centraliza o container na tela */
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    margin-top: 20px;
}

.card {
    width: 300px;
    padding: 20px;
    background: #f57e20;
    color: white;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    text-align: center;
    display: none;
    position: relative;
}

/* Estilo da Borda Superior */
.card-header {
    background-color: #c66e00;
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    font-weight: bold;
    color: white;
}

.card-icons {
    display: flex;
    gap: 10px;
}

.icon {
    width: 20px;
    height: 20px;
}

.usp-logo {
    width: 120px;
    margin: 60px auto 10px auto; /* Espaço para não sobrepor a header */
    display: block;
}

.card h2 {
    margin-top: 5px;
    font-weight: bold;
}

.card h3 {
    margin: 10px 0;
    font-weight: bold;
}

img#studentImage {
    width: 150px;
    height: 200px; /* Proporção 3:4 */
    object-fit: cover; /* Garante que a imagem ocupe todo o espaço */
    border: 2px solid white; /* Borda branca ao redor da foto */
    margin: 15px 0; /* Espaçamento ao redor da foto */
}

.bold-text {
    font-weight: bold;
    margin: 5px 0;
}

#studentNumber, #studentFaculty, #studentLevel {
    margin: 5px 0; /* Espaçamento para textos adicionais */
}

#qrcode {
    margin: 20px 0; /* Espaçamento acima e abaixo do QR Code */
}

#expiryText {
    font-size: 14px;
    margin-top: 10px;
}
