body {
    font-family: Arial, sans-serif;
    background-color: #f57e20;
    text-align: center;
}

.container {
    width: 300px;
    margin: auto;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    margin-top: 20px;
}

.card {
    width: 300px;
    padding: 20px;
    background: #f57e20;
    color: white;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    display: none;
}

img {
    width: 150px;
    height: 200px; /* Proporção 3:4 */
    object-fit: cover; /* Garante que a imagem ocupe todo o espaço */
    border: 2px solid white; /* Opcional: borda branca para destacar a foto */
}

.bold-text {
    font-weight: bold;
}

#qrcode {
    margin-top: 20px;
}
